<div class="span8">
<div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Job Description</h5>
        </div>
        <div class="widget-content nopadding form-horizontal">
          <%= simple_form_for([:company, job_requirement]) do |f| %>
            <div class="control-group">
              <label class="control-label">Job Title :</label>
              <div class="controls">
                <%= f.input :title, label: false, placeholder: "job title" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Job Type :</label>
              <div class="controls">
                <%= f.input :job_type, label: false, placeholder: "job type" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Location/Address :</label>
              <div class="controls">
                <%= f.input :location, label: false, placeholder: "location" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Required Experience(yrs) :</label>
              <div class="controls">
                <%= f.input :experience, label: false, placeholder: "required experience in years" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Minimum Salary :</label>
              <div class="controls">
                <%= f.input :min_salary, label: false, placeholder: "minimum salary" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Maximum Salary</label>
              <div class="controls">
                <%= f.input :max_salary, label: false, placeholder: "maximum salary" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"> Required Skill Set</label>
              <div class="controls">
                <select multiple>
                  <option>First option</option>
                  <option>Second option</option>
                  <option>Third option</option>
                  <option>Fourth option</option>
                  <option>Fifth option</option>
                  <option>Sixth option</option>
                  <option>Seventh option</option>
                  <option>Eighth option</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Educational Qualification</label>
              <div class="controls">
                <select multiple>
                  <option>First option</option>
                  <option>Second option</option>
                  <option>Third option</option>
                  <option>Fourth option</option>
                  <option>Fifth option</option>
                  <option>Sixth option</option>
                  <option>Seventh option</option>
                  <option>Eighth option</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Number of Vacancies</label>
              <div class="controls">
                <%= f.input :number_of_vacancies, label: false, placeholder: "number of vacancies" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Note to recruiter</label>
              <div class="controls">
                <textarea class="span11" ></textarea>
              </div>
            </div>
            <div class="form-actions">
              <%#= f.button :submit, "Save Job Description", class: "btn btn-success" %>
              <button data-toggle="modal" data-target="#nonnegotiableRequirements" class="btn btn-primary center-block">Add Non-Negotiable Requirements</button>
              <button  href="#" class="btn btn-success">Save Job Description</button>
            </div>
            <% end %>
        </div>
      </div>
      </div>
          <!-- line modal -->
                    <div class="modal fade" id="nonnegotiableRequirements" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">5 Non-Negotiable Requirements</h3>
                          </div>
                          <div class="modal-body">

                            <!-- content goes here -->
                             <form  class="form-horizontal">
                             <div class="control-group">
                              <label class="control-label">1st Requirement</label>
                              <div class="controls">
                                <input type="text" class="span11" placeholder="1st Requirement" />
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">2nd Requirement</label>
                              <div class="controls">
                                <input type="text" class="span11" placeholder="2nd Requirement" />
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">3rd Requirement</label>
                              <div class="controls">
                                <input type="text" class="span11" placeholder="3rd Requirement" />
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">4th Requirement</label>
                              <div class="controls">
                                <input type="text" class="span11" placeholder="4th Requirement" />
                              </div>
                            </div>
                           <div class="control-group">
                              <label class="control-label">5th Requirement</label>
                              <div class="controls">
                                <input type="text" class="span11" placeholder="5th Requirement" />
                              </div>
                            </div>
                            <div class="form-actions">
                              <button  data-dismiss="modal" class="btn btn-success">Ok</button>
                             <!--  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button> -->
                            </div>
                           </form>
                          </div>

                        </div>

                          <!-- <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                              <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                              </div>
                              <div class="btn-group btn-delete hidden" role="group">
                                <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
                              </div>
                              <div class="btn-group" role="group">
                                <button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Save</button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
      
      <%= javascript_include_tag "company/jquery.min" %>
      <%= javascript_include_tag "company/jquery.ui.custom" %>
      <%= javascript_include_tag "company/bootstrap.min" %>
      <%= javascript_include_tag "company/bootstrap-colorpicker" %>
      <%= javascript_include_tag "company/bootstrap-datepicker" %>
      <%= javascript_include_tag "company/jquery.toggle.buttons" %>
      <%= javascript_include_tag "company/masked" %>
      <%= javascript_include_tag "company/jquery.uniform" %>
      <%= javascript_include_tag "company/select2.min" %>
      <%= javascript_include_tag "company/matrix" %>
      <%= javascript_include_tag "company/matrix.form_common" %>
      <%= javascript_include_tag "company/wysihtml5-0.3.0" %>
      <%= javascript_include_tag "company/jquery.peity.min" %>
      <%= javascript_include_tag "company/bootstrap-wysihtml5" %>
      <script>
        $('.textarea_editor').wysihtml5();
      </script>