<h1>Scheduled Events</h1>
<div class="widget-box">
<div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
		<h5>
		<% if @events %>
		<%= pluralize(@events.count, "Scheduled Event") %>
		<% else %>
		No Scheduled Event	
		<% end %>	
		</h5>
	</div>

	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Applicant Name</th>
					<th>Event Type/Name</th>
					<th>Interview Date</th>
					<th>Test Date</th>
					<th>Confirm Status</th>
					<th>Interview/Test Setup By:</th>
					<th>Interview/Test Results</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% if @events %>
				<% @events.each do |event| %>
				<% if event.sent_by == "Recruiter" %>
				<tr class="odd gradeX" style="font-size: 14px;">
					<td><%= event.applicant_detail.name %></td>
					<td><%= event.name %></td>
					<td><span class="badge badge-info"><%= event.interview_date.strftime("%B %d, %Y")%></span></td>
					<td><span class="badge badge-info"><%= event.test_date.strftime("%B %d, %Y") %></span></td>
					<td class="center">
				    <% if event.confirm? %>
				    <span class="badge badge-success">Confirmed</span> 
					<% else %>
					<span class="badge badge-important">Not Confirmed </span>
					<div class="btn-group">
                			<button data-toggle="dropdown" class="btn btn-primary btn-mini dropdown-toggle">confirm?<span class="caret"></span></button>
                			<ul class="dropdown-menu">
                				<li><%= link_to fa_icon("thumbs-o-up") + " confirm schedule", company_confirm_schedule_url(event), method: :patch, data: { confirm: "Click Ok to confirm #{event.applicant_detail.name}'s schedule"} %></li>
                				<li><%= link_to fa_icon("thumbs-o-down") + " reject schedule", company_reject_schedule_url(event), method: :patch, data: { confirm: "Click Ok to reject #{event.applicant_detail.name}'s schedule"} %></li>
                			</ul>
                		</div>
					<% end %>		
					</td>
					<td>
						<div class="btn-group">
						<button data-toggle="dropdown" class="btn btn-primary btn-mini dropdown-toggle"><%= event.scheduler || "not set" %><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><%= link_to "#{current_company.name}", company_choose_company_url(event), method: :patch, data: { confirm: "Click OK if #{current_company.name} has a agreed to set up the interview/test" } %></li>
								<li><%= link_to "Recruiter", company_choose_recruiter_url(event), method: :patch, data: { confirm: "Click OK if you want the recruiter to set up the interview/test on your behalf" } %></li>
							</ul>
						</div>	
					</td>
					<td>
					<% if event.passed_interview? %>
					  <span class="date badge badge-success">
					  <%= event.interview_results %>
					<% elsif event.failed_interview? %>
					  <span class="date badge badge-important">
					  <%= event.interview_results %>  
					<% elsif event.pending_interview? %>
					  <span class="date badge badge-default">
					  <%= event.interview_results %>
					<% end %>
					</span>
					<% if event.scheduler == current_company.name %>
					  <div class="btn-group">
						<button data-toggle="dropdown" class="btn btn-primary btn-mini dropdown-toggle"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><%= link_to "pass", company_pass_interview_url(event), method: :patch  %></li>
								<li><%= link_to "fail", company_fail_interview_url(event),  method: :patch %></li>
								<li><%= link_to "pending", company_interview_pending_url(event), method: :patch %></li>
							</ul>
						</div>	
					<% end %>	
					</td>
					<td><%= link_to fa_icon("eye") + " schedule", [:company, event] %></td>
				</tr>
				<% end %>
				<% end %>
				<% else %>
				<td>No data</td>
				<td>No data</td>
				<td>No data</td>
				<td>No data</td>
				<td>No data</td>
				<td>No data</td>
				<td>No data</td>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= javascript_include_tag "company/jquery.min" %>
<%= javascript_include_tag "company/jquery.ui.custom" %>
<%= javascript_include_tag "company/bootstrap.min" %>
<%= javascript_include_tag "company/matrix" %>