<h3>View <%= @event.applicant_detail.name %>'s Schedule</h3>
<div class="accordion" id="collapse-group">
	<div class="accordion-group widget-box">
		<div class="accordion-heading">
			<div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-eye-open"></i></span>
				<h5>
				<%= @event.applicant_detail.name %>'s schedule</h5><%= link_to fa_icon("pencil") + " Edit", [:edit, :company, @event] , class: "btn btn-primary pull-right" if !@event.confirm? %> <%= link_to fa_icon("thumbs-o-up") + " confirm schedule", company_confirm_schedule_url(@event), method: :patch, class: "btn btn-primary pull-right", data: { confirm: "Click Ok to confirm #{@event.applicant_detail.name}'s schedule"} if !@event.confirm? %>
			</a> </div>
		</div>
		<div class="collapse in accordion-body" id="collapseGOne">
			<div class="widget-content"> 
				<p>Event Name: <%= @event.name %>
				</p>
				<p>Event Description:  <%= @event.brief_description %></p>
				<p>Email: <%= @event.applicant_detail.email %></p>
				<p>Interview Date: 
				<% if @event.interview_date.nil? %>
				<span class="badge badge-primary">Not Set</span>
				<% else %>	
				 <%= @event.interview_date.strftime("%B %d, %Y") %>
				<% end %>		
				<p>Test Date: 
				<% if @event.interview_date.nil? %>	
				<span class="badge badge-primary">Not Set</span>
				<% else %>
				<%= @event.test_date.strftime("%B %d, %Y") %></p>
				<% end %>
				<p>Confirm Status: 
				    <% if @event.confirm? %>
				    <span class="badge badge-success">Confirmed</span> 
					<% else %>
					<span class="badge badge-important">Not Confirmed</span> 
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="widget-box">
<div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
		<h5><%= pluralize(@events.count, "Scheduled Event") %></h5>
	</div>

	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Applicant Name</th>
					<th>Event Type/Name</th>
					<th>Interview Date</th>
					<th>Test Date</th>
					<th>Confirm Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
				<tr class="odd gradeX">
					<td><%= event.applicant_detail.name %></td>
					<td><%= event.name %></td>
					<td>
					<% if event.interview_date.nil? %>
					<span class="badge badge-primary">Not Set</span>
					<% else %>	
					<%= event.interview_date.strftime("%B %d, %Y")%>
					<% end %>	
					</td>
					<td>
					<% if event.test_date.nil? %>
				    <span class="badge badge-primary">Not Set</span>
				    <% else %>		
					<%= event.test_date.strftime("%B %d, %Y") %>
					<% end %>	
					</td>
					<td class="center">
					<% if event.confirm? %>
				    <span class="badge badge-success">Confirmed</span> 
					<% else %>
					<span class="badge badge-important">Not Confirmed</span> 
					<% end %> 	
					</td>
					<td><%= link_to fa_icon("eye") + " schedule", [:company, event] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= javascript_include_tag "company/jquery.min" %>
<%= javascript_include_tag "company/jquery.ui.custom" %>
<%= javascript_include_tag "company/bootstrap.min" %>
<%= javascript_include_tag "company/matrix" %>