<div>
    <h3>
    <% if @applicant_detail.accept? %>
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    <% elsif !@applicant_detail.accept? && @applicant_detail.requirement.nil? %>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <% elsif !@applicant_detail.accept? %>
      <i class="fa fa-hand-paper-o" aria-hidden="true"></i>  
    <% end %>
    <span class="date badge badge-success" style="font-size: 28px; padding: 20px;"> <%= @applicant_detail.name %>'s </span> Job Assessement 
    <% if @applicant_detail.score.total_score < 50.00 %>  
    <span class="date badge badge-important pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score == 50.00 %>
      <span class="date badge badge-warning pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score > 50.00 && @applicant_detail.score.total_score < 90.00 %>
      <span class="date badge badge-info pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score == 90.00 || @applicant_detail.score.total_score > 90.00 %>
      <span class="date badge badge-success pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score == nil %>
    <span class="date badge badge-danger pull-right" style="font-size: 28px; padding: 20px;">
            
    <% end %>
    <span class="pull-right">
    Score:
     <% if @applicant_detail.score.nil? %>   
     ? 
     <% else %>
     <%= number_with_precision @applicant_detail.score.total_score, precision: 2, scale: 2 %>%
     <% end %>
     </span>
     </span>
     </h3>
</div>
<hr>
<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> = no matching job description 
  <i class="fa fa-check-circle" aria-hidden="true"></i> = accepted by company  <i class="fa fa-hand-paper-o" aria-hidden="true"></i> = rejected/not yet accepted by company 
<%= simple_form_for([:recruiter, applicant_detail, score]) do |f| %>
<div class="widget-box">
          <div class="widget-title bg_lo"> <span class="icon"> <i class="icon-briefcase"></i> </span>
            <h5>Job Type:
                        <% @count = 0 %>
                        <% @applicant_detail.job_types.each do |job_type| %>
                           <% @count += 1 %>
            	             <%= job_type.name %>,
                           <% break if @count == 3 %>
            	           <% end %>... 
                         </h5>
            	           <%= f.button :submit, "Submit Assessment", class: "btn btn-primary pull-right" %>
            </span>
          </div>
          <div class="widget-content nopadding updates collapse in" id="collapseG3">
          <h5>
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><strong><%= @applicant_detail.name %> applied for </strong><span><%= @applicant_detail.job_title %></span> </div>
            </div>
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><strong>Email</strong><span><%= @applicant_detail.email %></span> </div>
            </div>
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><strong>Phonenumber</strong><span><%= @applicant_detail.phonenumber %></span> </div>
            </div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-notice"> <strong>Location/Address </strong><span><%= @applicant_detail.location %></span></span></div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-alert"> <strong> Work Experience</strong><span><%= @applicant_detail.experience %> Years</span></span></div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-done"> <strong>Salary Range</strong><span>GHS <%= @applicant_detail.min_salary %> - GHS <%= @applicant_detail.max_salary %></span> </span> </div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i><span class="update-notice"> <strong>Required Skills</strong><span>
            	<% @applicant_detail.skills.each do |skill| %>
            	  <%= skill.name %>, 
            	<% end %>
            </span> </span><div class="pull-right"><%= f.input :skills_check, label: false, :collection => [["does not meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => false, :selected => score.skills_check %></div></div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-notice"> <strong>Education Qualifications</strong><span>
            	<% @applicant_detail.qualifications.each do |qualification| %>
            	  <%= qualification.name %>, 
            	<% end %>
            </span> </span><div class="pull-right"><%= f.input :qualifications_check, label: false, :collection => [["does not meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => false, :selected => score.qualifications_check %></div></div>
            </h5>
          </div>
        </div>
        


        <% if @requirement.compulsory_requirement %>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
            <h5>Non-Negotiable Requirements (NOTE: Each requirement carries a score of 1. This will be used in assessing applicants)</h5>
            <%= f.button :submit, "Submit Assessment", class: "btn btn-primary pull-right" %>

          </div>
          <div class="widget-content">
            <div class="todo">
              <ul>
              <h5>
                <% if @requirement.compulsory_requirement.requirement_1.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_1 %></div>
                  <div class="pull-right"><%= f.input :requirement_1_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_1_check %> </div>
                </li>
                <% end %>

                <% if @requirement.compulsory_requirement.requirement_2.blank? %>
                <% else %>
                <li class="clearfix">                  
                  <div class="txt"> 
                  <%= @requirement.compulsory_requirement.requirement_2 %></div>
                  <div class="pull-right"><%= f.input :requirement_2_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_2_check %></div>
                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_3.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_3 %></div>
                  <div class="pull-right"><%= f.input :requirement_3_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_3_check %></div>
 
                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_4.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt"> <%= @requirement.compulsory_requirement.requirement_4%></div>
                  <div class="pull-right"><%= f.input :requirement_4_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_4_check %></div>

                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_5.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt"><%= @requirement.compulsory_requirement.requirement_5 %></div>
                  <div class="pull-right"><%= f.input :requirement_5_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_5_check %></div>

                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_6.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_6 %></div>
                  <div class="pull-right"><%= f.input :requirement_6_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_6_check %></div>
 
                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_7.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_7 %></div>
                  <div class="pull-right"><%= f.input :requirement_7_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_7_check %></div>
 
                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_8.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_8 %></div>
                  <div class="pull-right"><%= f.input :requirement_8_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_8_check %></div>
 
                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_9.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_9 %></div>
                  <div class="pull-right"><%= f.input :requirement_9_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_9_check %></div>
 
                </li>
                <% end %>
                <% if @requirement.compulsory_requirement.requirement_10.blank? %>
                <% else %>
                <li class="clearfix">
                  <div class="txt">  
                  <%= @requirement.compulsory_requirement.requirement_10 %></div>
                  <div class="pull-right"><%= f.input :requirement_10_check, label: false, :collection => [["doesn't meet requirements", false], ["meets requirements", true]], :as => :radio_buttons, :item_wrapper_class => "inline", :selected => score.requirement_10_check %></div>
 
                </li>
                <% end %>
                </h5>
              </ul>
            </div>
          </div>
        </div>
        <% else %>
         <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
            <h5>No Additional Requirements</h5>
          </div>
          <div class="widget-content">
            <div class="todo">
            </div>
          </div>
        </div>

        <% end %>
        <% end %>
 
       

        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>