    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="#"> <i class="icon-dashboard"></i> <span class="label label-important">20</span> My Dashboard </a> </li>
        <li class="bg_lg span3"> <a href="#"> <i class="icon-signal"></i> Charts</a> </li>
        <li class="bg_ly"> <a href="#"> <i class="icon-inbox"></i><span class="label label-success">101</span> Widgets </a> </li>
        <li class="bg_lo"> <a href="#"> <i class="icon-th"></i> Tables</a> </li>
        <li class="bg_ls"> <a href="#"> <i class="icon-fullscreen"></i> Full width</a> </li>
        <li class="bg_lo span3"> <a href="#"> <i class="icon-th-list"></i> Forms</a> </li>
        <li class="bg_ls"> <a href="#" <i class="icon-tint"></i> Buttons</a> </li>
        <li class="bg_lb"> <a href="#"> <i class="icon-pencil"></i>Elements</a> </li>
        <li class="bg_lg"> <a href="#"> <i class="icon-calendar"></i> Calendar</a> </li>
        <li class="bg_lr"> <a href="#"> <i class="icon-info-sign"></i> Error</a> </li>

      </ul>
    </div>
    
    <%= javascript_include_tag "company/excanvas.min" %>
    <%= javascript_include_tag "company/jquery.min" %>
    <%= javascript_include_tag "company/jquery.ui.custom" %>
    <%= javascript_include_tag "company/bootstrap.min" %>
    <%= javascript_include_tag "company/jquery.flot.min" %>
    <%= javascript_include_tag "company/jquery.flot.resize.min" %>
    <%= javascript_include_tag "company/jquery.peity.min" %>
    <%= javascript_include_tag "company/fullcalendar.min" %>
    <%= javascript_include_tag "company/matrix" %>
    <%= javascript_include_tag "company/matrix.dashboard" %>
    <%= javascript_include_tag "company/jquery.gritter.min" %>
    <%= javascript_include_tag "company/matrix.interface" %>
    <%= javascript_include_tag "company/matrix.chat" %>
    <%= javascript_include_tag "company/jquery.validate" %>
    <%= javascript_include_tag "company/matrix.form_validation" %>
    <%= javascript_include_tag "company/jquery.wizard" %>
    <%= javascript_include_tag "company/jquery.uniform" %>
    <%= javascript_include_tag "company/select2.min" %>
    <%= javascript_include_tag "company/matrix.popover" %>
    <%= javascript_include_tag "company/jquery.dataTables.min" %>
    <%= javascript_include_tag "company/matrix.tables" %>