<div>
	<h1>Job Descriptions Received</h1>
</div>
<hr>
<i class="fa fa-star" aria-hidden="true"></i> new job description
<div class="row-fluid">

	<div class="span12">
  
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(@requirements.count, "Job Description") %></h5>
            <%= link_to fa_icon("plus") + " Fill Out Applicant Form", new_recruiter_applicant_detail_url, class: "btn btn-primary pull-right" %>                 
                 

          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Company</th>
                	<th>Job Type</th>
                	<th>Job Title</th>
                	<th>Location</th>
                	<th>Required Experience(yrs)</th>
                	<th>Salary Range(GHS)</th>
                	<th>Required Skill Set</th>
                	<th>Educational Qualifications</th>
                	<th>Number of Vacancies</th>
                </tr>
              </thead>
              <tbody>
              <% @requirements.each do |requirement| %>
                <tr class="odd gradeX" style="font-size: 14px;">
                    <td><span class="badge badge-success" >
                      <% if requirement.applicant_details.empty? %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <% end %>  
                    <%= requirement.company.name %></span></td>
                    <td>
                    <% @count = 0 %>
                    <% requirement.job_types.each do |job_type| %>
                          <% @count += 1 %>
                          <%= link_to job_type.name, [:recruiter, requirement] %>,
                          <% break if @count == 2 %>
                    <% end %>...
                    </td>
                	<td><%= requirement.title %></td>
                	<td><%= requirement.location %></td>
                	<td><%= requirement.experience %></td>
                	<td class="center"><%= requirement.min_salary %> - <%= requirement.max_salary %></td>
                	<td class="center">
                	<% requirement.skills.each do |skill| %>
                	  <%= skill.name %>,
                	<% end %>	
                	</td>
                	<td>
                	  <% requirement.qualifications.each do |qualification| %>
                	    <%= qualification.name %>,
                	  <% end %>	
                	</td>
                	<td>
                		  <%= requirement.vacancies_left %>
                	</td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>
        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>
