<div>
	<h1>Job Descriptions Received for <span class="badge badge-success" style="font-size: 28px; padding: 20px;"><%= @company.name %></span></h1>
</div>
<hr>
<div class="row-fluid">

	<div class="span12">
  
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(@requirements.count, "Job Description") %></h5><%= link_to fa_icon("arrow-circle-right", class: "pull-right") + "Go To History of Applicants for #{@company.name}", recruiter_company_history_of_applicants_url(@company), class: "btn btn-primary pull-right" %>
          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Company</th>
                	<th>Job Type</th>
                	<th>Job Title</th>
                	<th>Location</th>
                	<th>Required Experience(yrs)</th>
                	<th>Salary Range(GHS)</th>
                	<th>Required Skill Set</th>
                	<th>Educational Qualifications</th>
                	<th>Number of Vacancies</th>
                </tr>
              </thead>
              <tbody>
              <% @requirements.each do |requirement| %>
              <% if requirement.sent? %>
                <tr class="odd gradeX" style="font-size: 14px;">
                    <td><span class="badge badge-success" ><%= requirement.company.name %></span></td>
                    <td><% requirement.job_types.each do |job_type| %>
                          <%= link_to job_type.name, [:recruiter, requirement] %>,
                        <% end %>
                    </td>
                	<td><%= requirement.title %></td>
                	<td><%= requirement.location %></td>
                	<td><%= requirement.experience %></td>
                	<td class="center"><%= requirement.min_salary %> - <%= requirement.max_salary %></td>
                	<td class="center">
                	<% requirement.skills.each do |skill| %>
                	  <%= skill.name %>,
                	<% end %>	
                	</td>
                	<td>
                	  <% requirement.qualifications.each do |qualification| %>
                	    <%= qualification.name %>,
                	  <% end %>	
                	</td>
                	<td>
                    <%= requirement.vacancies_left %>
                	</td>
                </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>
        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>

     <!--      <script type="text/javascript">
          $(document).ready(
          $("#new_request").on('submit', function(e){
            var company = $('#request_company');
            var fullname = $('#request_fullname');
            var email = $('#request_email');
            var phonenumber = $('#request_phonenumber');
            var job_title = $('#request_job_title');

            if(!company.val()) {
              company.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              company.closest('.control-group').addClass('success');
            }
            if(!fullname.val()) {
              fullname.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              fullname.closest('.control-group').addClass('success');
            }
            if(!email.val()) {
              email.closest('.control-group').addClass('error');
              e.preventDefault();
            } else {
              // formvalidator = new Validator('new_request');
              // formvalidator.addValidation("request[email]", "email");
              // formvalidator.addValidation("request[email]", "req");
              // email.closest('.control-group-group').addClass('error');
              // email.val(email.val()+ ' is invalid!! ');
              // e.preventDefault();
            }
            if(!phonenumber.val()) {
              phonenumber.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              phonenumber.closest('.control-group').addClass('success');
            }
            if(!job_title.val()) {
              job_title.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              job_title.closest('.control-group').addClass('success');
            }
          }));
          </script>

        
        -->