<div>
	<h1>List of Companies</h1>
</div>
<hr>
<div class="row-fluid">

	<div class="span12">
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(Company.all.count, "Company") %></h5>
          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                	<th>Status</th>
                	<th>Company Name</th>
                	<th>Email</th>
                	<th>Phonenumber</th>
                	<!-- <th>Company</th>
                	<th>Job Title</th> -->
                	<th>Actions</th>
                </tr>
              </thead>
              <tbody>
              <% @companies.each do |company| %>
                <tr class="odd gradeX">
                    <td>
                      
                    </td>
                	<td><%= company.name %></td>
                	<td><%= company.email %></td>
                	<td><%= company.phonenumber %></td>
                	<!-- <td class="center"><%#= company.company %></td> -->
                	<!-- <td class="center"><%#= company.job_title %></td> -->
                	<td>
                		<div class="btn-group">
                			<button data-toggle="dropdown" class="btn btn-primary btn-mini dropdown-toggle">Action?<span class="caret"></span></button>
                			<ul class="dropdown-menu">
                				<li><%#= link_to "Yes", recruiter_contact_path(company), method: :patch %></li>
                				<li><%#= link_to "No", recruiter_no_contact_path(company), method: :patch %></li>
                			</ul>
                		</div>
                    <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-primary btn-mini dropdown-toggle">Action?<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><%#= link_to "Yes", recruiter_company_accept_offer_path(company), method: :patch %></li>
                        <li><%#= link_to "No", recruiter_company_reject_offer_path(company), method: :patch %></li>
                      </ul>
                    </div>
                    <%#= link_to "Send Email", recruiter_company_signup_path(company), class: "btn btn-success" %>
                	</td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>

        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>

          <script type="text/javascript">
          $(document).ready(
          $("#new_company").on('submit', function(e){
            var company = $('#company_company');
            var fullname = $('#company_fullname');
            var email = $('#company_email');
            var phonenumber = $('#company_phonenumber');
            var job_title = $('#company_job_title');

            if(!company.val()) {
              company.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              company.closest('.control-group').addClass('success');
            }
            if(!fullname.val()) {
              fullname.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              fullname.closest('.control-group').addClass('success');
            }
            if(!email.val()) {
              email.closest('.control-group').addClass('error');
              e.preventDefault();
            } else {
              // formvalidator = new Validator('new_company');
              // formvalidator.addValidation("company[email]", "email");
              // formvalidator.addValidation("company[email]", "req");
              // email.closest('.control-group-group').addClass('error');
              // email.val(email.val()+ ' is invalid!! ');
              // e.preventDefault();
            }
            if(!phonenumber.val()) {
              phonenumber.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              phonenumber.closest('.control-group').addClass('success');
            }
            if(!job_title.val()) {
              job_title.closest('.control-group').addClass('error');
              e.preventDefault();
            }else{
              job_title.closest('.control-group').addClass('success');
            }
          }));
          </script>

        
       