<div>
	<h1>Prospective Applicants</h1>
</div>
<hr>
<h6>
<i class="fa fa-paper-plane-o" aria-hidden="true"></i> sent to recruiter 
<span class="date badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span> accept 
<span class="date badge badge-important"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span> reject
</h6>
<div class="row-fluid">
	<div class="span12">
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(@applicant_details.count, "Prospective Applicant") %></h5>
          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                <th></th>
                  <th>Name Of Applicant</th>
                	<th>Job Type</th>
                	<th>Location</th>
                	<th>Required Experience(yrs)</th>
                	<th>Salary Range(GHS)</th>
                	<th>Required Skill Set</th>
                	<th>Educational Qualifications</th>
                	<th>Score</th>
                </tr>
              </thead>
              <tbody>
              <% @applicant_details.each do |applicant_detail| %>
              <% if applicant_detail.sent_by == "Recruiter" %>
                <tr class="odd gradeX" style="font-size: 14px;">
                     <td>
                       <% if !applicant_detail.sent_by_recruiter? %>  
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                      <% end %>
                      <% if applicant_detail.accept? %>
                      <span class="date badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                      <% else %>
                      <span class="date badge badge-important"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span>
                      <% end %>
                     </td>
                     <td>
                     <span class="date badge badge-warning" ><%= link_to applicant_detail.name, [:company, applicant_detail] %></span></td>
                    <td>
                        <% @count = 0 %>
                        <% applicant_detail.job_types.each do |job_type| %>
                           <% @count += 1 %>  
                           <%= link_to job_type.name, [:company, applicant_detail.requirement ] %>,
                           <% break if @count == 3 %>
                         <% end %>...
                    </td>
                	<td><%= applicant_detail.location %></td>
                	<td><%= applicant_detail.experience %></td>
                	<td class="center"><%= applicant_detail.min_salary %> - <%= applicant_detail.max_salary %></td>
                	<td class="center">
                	<% applicant_detail.skills.each do |skill| %>
                	  <%= skill.name %>,
                	<% end %>	
                	</td>
                	<td>
                	  <% applicant_detail.qualifications.each do |qualification| %>
                	    <%= qualification.name %>,
                	  <% end %>	
                	</td>
                	<td>
                  <% if applicant_detail.score.present? %>
                    <% if applicant_detail.score.total_score < 50.00 %>  
                      <span class="date badge badge-important">
                    <% elsif applicant_detail.score.total_score == 50.00 %>
                      <span class="date badge badge-warning">
                    <% elsif applicant_detail.score.total_score > 50.00 && applicant_detail.score.total_score < 90.00 %>
                      <span class="date badge badge-info">
                    <% elsif applicant_detail.score.total_score == 90.00 || applicant_detail.score.total_score > 90.00 %>
                     <span class="date badge badge-success">     
                    <% end %>
                  <% end %>

                  <% if applicant_detail.score.present? %>
                		<%= number_with_precision applicant_detail.score.total_score, precision: 2, scale: 2 %>%
                  <% else %>
                    no score
                  <% end %>
                  </span>  
                	</td>
                </tr>
                <% elsif applicant_detail.sent_by == "#{current_company.name}" %>
                <tr class="odd gradeX" style="font-size: 14px;">
                     <td>
                       <% if !applicant_detail.sent_by_recruiter? %>  
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                      <% end %>
                      <% if applicant_detail.accept? %>
                      <span class="date badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                      <% else %>
                      <span class="date badge badge-important"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span>
                      <% end %>
                     </td>
                     <td>
                     <span class="date badge badge-warning" ><%= link_to applicant_detail.name, [:company, applicant_detail] %></span></td>
                    <td>
                    <% applicant_detail.job_types.each do |job_type| %>
                           <%= link_to job_type.name, [:company, applicant_detail] %>,
                         <% end %>
                    </td>
                  <td><%= applicant_detail.location %></td>
                  <td><%= applicant_detail.experience %></td>
                  <td class="center"><%= applicant_detail.min_salary %> - <%= applicant_detail.max_salary %></td>
                  <td class="center">
                  <% applicant_detail.skills.each do |skill| %>
                    <%= skill.name %>,
                  <% end %> 
                  </td>
                  <td>
                    <% applicant_detail.qualifications.each do |qualification| %>
                      <%= qualification.name %>,
                    <% end %> 
                  </td>
                  <td>
                  <% if applicant_detail.score.present? %>
                    <% if applicant_detail.score.total_score < 50.00 %>  
                      <span class="date badge badge-important">
                    <% elsif applicant_detail.score.total_score == 50.00 %>
                      <span class="date badge badge-warning">
                    <% elsif applicant_detail.score.total_score > 50.00 && applicant_detail.score.total_score < 90.00 %>
                      <span class="date badge badge-info">
                    <% elsif applicant_detail.score.total_score == 90.00 || applicant_detail.score.total_score > 90.00 %>
                     <span class="date badge badge-success">     
                    <% end %>
                  <% end %>

                  <% if applicant_detail.score.present? %>
                    <%= number_with_precision applicant_detail.score.total_score, precision: 2, scale: 2 %>%
                  <% else %>
                    no score
                  <% end %>
                  </span>  
                  </td>
                </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>

        <%= javascript_include_tag "company/jquery.min" %>
        <%= javascript_include_tag "company/jquery.ui.custom" %>
        <%= javascript_include_tag "company/bootstrap.min" %>
        <%= javascript_include_tag "company/matrix" %>

  