<div>
	<h1>Employees</h1>
</div>
<hr>
<div class="row-fluid">

	<div class="span12">
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(@employees.count, "Employee") %></h5>
          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Name Of Employee</th>
                </tr>
              </thead>
              <tbody>
              <% @employees.each do |employee| %>
                <tr class="odd gradeX" style="font-size: 14px;">
                    <td>                   
                      <%= employee.firstname %>
                    </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>

        <%= javascript_include_tag "company/jquery.min" %>
        <%= javascript_include_tag "company/jquery.ui.custom" %>
        <%= javascript_include_tag "company/bootstrap.min" %>
        <%= javascript_include_tag "company/matrix" %>

     