<h3>View <span class="badge badge-info" style="font-size: 28px; padding: 20px;"><%= @employee.firstname %></span>'s Profile</h3>
<div class="accordion" id="collapse-group">
  <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s profile</h5>
      </a> </div>
    </div>
    <div class="collapse accordion-body" id="collapseGThree">
      <div class="widget-content"> 
        <p>First Name: <%= @employee.firstname %></p>
        <p>Middle Name: <%= @employee.middlename %></p>
        <p>Last Name: <%= @employee.surname %></p>
        <p>Date of Birth:  <%= @employee.birthdate.strftime("%B %d, %Y") %></p>
        <p>Marital Status: <%= @employee.marital_status %></p>
        <p>Gender: <%= @employee.gender %></p>
        <p>Place of Birth: <%= @employee.birthplace %></p>
        <p>Region: <%= @employee.region %></p>
        <p>Country: <%= @employee.country %></p>
        <p>Commencement Date: <%= @employee.commencement_date %></p>
        <p>Position: <%= @employee.position %></p>
        <p>Department: <%= @employee.department %></p>
        <p>Postal Address: <%= @employee.postal_address %></p>
        <p>City: <%= @employee.city %></p>
        <p>House Number: <%= @employee.house_number %></p>
        <p>Corporate Phone Number: <%= @employee.office_number %></p>
        <p>Mobile Number: <%= @employee.mobile_number %></p>
        <p>Personal Email Address: <%= @employee.email_address %></p>
        <p>Corporate Email Address: <%= @employee.corporate_email %></p>
      </div>
    </div>
  </div>
</div>

<% if @employee.educational_qualifications.any? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s educational qualifications</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGOne">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Institution</th>
					<th>Certificate</th>
					<th>Date of Enrolement</th>
					<th>Date of Completion</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.educational_qualifications.each do |qualification| %>
				<tr class="odd gradeX">
				<% if !qualification.update_button_clicked? %>
					<td><%= qualification.institution %> <%= link_to "edit", recruiter_employee_qualification_update_button_url(@employee, qualification), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_educational_qualification_url(@employee, qualification), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= qualification.certificate %></td>
					<td><%= qualification.enrolled_at.strftime("%B %d, %Y")%></td>
					<td><%= qualification.completed_at.strftime("%B %d, %Y") %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if qualification.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, qualification]) do |f| %>
					<td><%= f.input :institution, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :certificate, label: false %></td>
					<td><%= f.input :enrolled_at, as: :date, label: false %></td>
					<td><%= f.input :completed_at, as: :date, label: false %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br/>
	<%= link_to fa_icon("plus") + " add another educational qualifications", new_recruiter_employee_educational_qualification_url(@employee), class: "btn btn-primary" %>
        
      </div>
    </div>
  </div>
</div>
<% end %>

<% if @employee.employment_histories.any? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s employment history</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGTwo">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Organization</th>
					<th>Position</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Reason for leaving</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.employment_histories.each do |employment| %>
				<tr class="odd gradeX">
				<% if !employment.update_button_clicked? %>
					<td><%= employment.organization %> <%= link_to "edit", recruiter_employee_employment_update_button_url(@employee, employment), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_employment_history_url(@employee, employment), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= employment.position %></td>
					<td><%= employment.from.strftime("%B %d, %Y")%></td>
					<td><%= employment.to.strftime("%B %d, %Y") %></td>
					<td><%= employment.reason_for_leaving %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if employment.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, employment]) do |f| %>
					<td><%= f.input :organization, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :position, label: false %></td>
					<td><%= f.input :from, as: :date, label: false %></td>
					<td><%= f.input :to, as: :date, label: false %></td>
					<td><%= f.input :reason_for_leaving, label: false %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br/>
	<%= link_to fa_icon("plus") + " add another employment history", new_recruiter_employee_employment_history_url(@employee), class: "btn btn-primary" %>
        
      </div>
    </div>
  </div>
</div>
<% end %>


<% if !@employee.spouse_detail.nil? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGFour" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s spouse details</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGFour">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>Profession</th>
					<th>Phonenumber</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
			    <% if !@employee.spouse_detail.nil? %>
				<tr class="odd gradeX">
				<% if !@employee.spouse_detail.update_button_clicked? %>
					<td><%= @employee.spouse_detail.name %> <%= link_to "edit", recruiter_employee_spouse_update_button_url(@employee, @employee.spouse_detail), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_spouse_detail_url(@employee, @employee.spouse_detail), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= @employee.spouse_detail.birthdate.strftime("%B %d, %Y")%></td>
					<td><%= @employee.spouse_detail.profession %></td>
					<td><%= @employee.spouse_detail.phonenumber %></td>
					<td><%= @employee.spouse_detail.address %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if @employee.spouse_detail.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, @employee.spouse_detail]) do |f| %>
					<td><%= f.input :name, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :birthdate, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year - 10, label: false %></td>
					<td><%= f.input :profession, label: false %></td>
					<td><%= f.input :phonenumber, label: false %></td>
					<td><%= f.input :address, label: false %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>        
      </div>
    </div>
  </div>
</div>
<% end %>


<% if @employee.children_details.any? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGFive" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s Children Details</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGFive">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>School</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.children_details.each do |child| %>
				<tr class="odd gradeX">
				<% if !child.update_button_clicked? %>
					<td><%= child.name %> <%= link_to "edit", recruiter_employee_child_update_button_url(@employee, child), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_children_detail_url(@employee, child), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= child.birthdate.strftime("%B %d, %Y")%></td>
					<td><%= child.school %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if child.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, child]) do |f| %>
					<td><%= f.input :name, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :birthdate, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, label: false %></td>
					<td><%= f.input :school, label: false %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br/>
	<%= link_to fa_icon("plus") + " add another child's detail", new_recruiter_employee_children_detail_url(@employee), class: "btn btn-primary" %>
        
      </div>
    </div>
  </div>
</div>
<% end %>

<% if @employee.parent_details.any? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGSix" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s Parent Details</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGSix">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.parent_details.each do |parent| %>
				<tr class="odd gradeX">
				<% if !parent.update_button_clicked? %>
					<td><%= parent.name %> <%= link_to "edit", recruiter_employee_parent_update_button_url(@employee, parent), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_parent_detail_url(@employee, parent), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= parent.birthdate.strftime("%B %d, %Y")%></td>
					<td><%= parent.status %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if parent.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, parent]) do |f| %>
					<td><%= f.input :name, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :birthdate, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, label: false %></td>
					<td><%= f.collection_radio_buttons :status, [["alive",  "alive"], ["deceased", "deceased"]], :first, :last, item_wrapper_class: 'inline'  %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br/>
	<%= link_to fa_icon("plus") + " add another parent's detail", new_recruiter_employee_parent_detail_url(@employee), class: "btn btn-primary" %>
        
      </div>
    </div>
  </div>
</div>
<% end %>

<% if @employee.next_of_kins.any? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGSeven" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s Next Of Details</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGSeven">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Relationship</th>
					<th>Phonenumber</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.next_of_kins.each do |kin| %>
				<tr class="odd gradeX">
				<% if !kin.update_button_clicked? %>
					<td><%= kin.name %> <%= link_to "edit", recruiter_employee_kin_update_button_url(@employee, kin), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_next_of_kin_url(@employee, kin), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= kin.phonenumber %></td>
					<td><%= kin.address %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if kin.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, kin]) do |f| %>
					<td><%= f.input :name, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :relationship, label: false %></td>
					<td><%= f.input :address, label: false  %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br/>
	<%= link_to fa_icon("plus") + " add another kin's detail", new_recruiter_employee_next_of_kin_url(@employee), class: "btn btn-primary" %>
        
      </div>
    </div>
  </div>
</div>
<% end %>

<% if !@employee.salary_detail.nil? %>
<div class="accordion" id="collapse-group">
   <div class="accordion-group widget-box">
    <div class="accordion-heading">
     <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGEight" data-toggle="collapse"> <span class="icon"><i class="icon-chevron-down"></i></span>
        <h5><%= @employee.firstname %>'s salary details</h5>
      </a> </div>
    </div>
    <div class="collapse in accordion-body" id="collapseGEight">
      <div class="widget-content"> 
      <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Bank Name</th>
					<th>Branch</th>
					<th>Account Number</th>
					<th>SSNIT Number</th>
				</tr>
			</thead>
			<tbody>
			    <% if !@employee.salary_detail.nil? %>
				<tr class="odd gradeX">
				<% if !@employee.salary_detail.update_button_clicked? %>
					<td><%= @employee.salary_detail.bankname %> <%= link_to "edit", recruiter_employee_salary_update_button_url(@employee, @employee.salary_detail), method: :patch, class: "btn-sm btn-primary" %> <%= link_to "remove", recruiter_employee_salary_detail_url(@employee, @employee.salary_detail), method: :delete, data: { confirm: "Are you sure want to delete this?" }, class: "btn-sm btn-primary" %></td>
					<td><%= @employee.salary_detail.branch %></td>
					<td><%= @employee.salary_detail.account_number %></td>
					<td><%= @employee.salary_detail.ssnit_number %></td>
				<% end %>
				</tr>
				<tr class="odd gradeX">
				<% if @employee.salary_detail.update_button_clicked? %>
					<%= simple_form_for([:recruiter, @employee, @employee.salary_detail]) do |f| %>
					<td><%= f.input :bankname, label: false %><%= f.button :submit, "update", class: "btn btn-primary" %></td>
					<td><%= f.input :branch, label: false %></td>
					<td><%= f.input :account_number, label: false %></td>
					<td><%= f.input :ssnit_number, label: false %></td>
					<% end %>
			    <% end %>		
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>        
      </div>
    </div>
  </div>
</div>
<% end %>




<%= link_to fa_icon("plus") + " add educational qualifications", new_recruiter_employee_educational_qualification_url(@employee), class: "btn btn-primary" if @employee.educational_qualifications.empty? %>
<%= link_to fa_icon("plus") + " add employment history", new_recruiter_employee_employment_history_url(@employee), class: "btn btn-primary" if @employee.educational_qualifications.any? && @employee.employment_histories.empty? %>
<%= link_to fa_icon("plus") + " add spouse details",  new_recruiter_employee_spouse_detail_url(@employee), class: "btn btn-primary" if @employee.employment_histories.any? && @employee.spouse_detail.nil? %>
<%= link_to fa_icon("plus") + " add children details",   new_recruiter_employee_children_detail_url(@employee), class: "btn btn-primary" if !@employee.spouse_detail.nil? && @employee.children_details.empty? %>
<%= link_to fa_icon("plus") + " add parent details",   new_recruiter_employee_parent_detail_url(@employee), class: "btn btn-primary" if @employee.children_details.any? && @employee.parent_details.empty? %>
<%= link_to fa_icon("plus") + " add details for next of kin",   new_recruiter_employee_next_of_kin_url(@employee), class: "btn btn-primary" if @employee.parent_details.any? && @employee.next_of_kins.empty? %>
<%= link_to fa_icon("plus") + " add salary details",   new_recruiter_employee_salary_detail_url(@employee), class: "btn btn-primary" if @employee.next_of_kins.any? && @employee.salary_detail.nil? %>
<%= link_to fa_icon("arrow-right") + " complete employee profile", recruiter_employee_complete_profile_url(@employee), method: :patch, class: "btn btn-primary" if @employee.next_of_kins.any? && !@employee.salary_detail.nil? %>







<%= javascript_include_tag "recruiter/jquery.min" %>
<%= javascript_include_tag "recruiter/jquery.ui.custom" %>
<%= javascript_include_tag "recruiter/bootstrap.min" %>
<%= javascript_include_tag "recruiter/matrix" %>