<div>
	<h1>Job Applicants</h1>
</div>
<hr>
<div class="row-fluid">

	<div class="span12">
<h6><i class="fa fa-paper-plane-o" aria-hidden="true"></i> sent to company 
<span class="date badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span> accept
<span class="date badge badge-important"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span> reject
</h6>
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(@applicant_details.count, "Job Applicant") %></h5>
            <%= link_to fa_icon("plus") + " Create Job Application", new_recruiter_applicant_detail_url, class: "btn btn-primary pull-right" %>                 

          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Name Of Applicant</th>
                	<th>Job Type</th>
                	<th>Location</th>
                	<th>Required Experience(yrs)</th>
                	<th>Salary Range(GHS)</th>
                	<th>Required Skill Set</th>
                	<th>Educational Qualifications</th>
                	<th>Score</th>
                  <th>Schedule</th>
                </tr>
              </thead>
              <tbody>
              <% @applicant_details.each do |applicant_detail| %>
                <tr class="odd gradeX">
                    <td>
                    <% if applicant_detail.sent? %>  
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i><% end %>
                    <% if applicant_detail.accept? %>
                      <span class="date badge badge-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                      <% else %>
                      <span class="date badge badge-important"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></span>
                      <% end %>
                      <%= link_to applicant_detail.name, [:recruiter, applicant_detail] %>
                    </td>
                    <td>
                      <% applicant_detail.job_types.each do |job_type| %>
                           <%= job_type.name %>,
                      <% end %>
                    </td>
                	<td><%= applicant_detail.location %></td>
                	<td><%= applicant_detail.experience %></td>
                	<td class="center"><%= applicant_detail.min_salary %> - <%= applicant_detail.max_salary %></td>
                	<td class="center">
                	<% applicant_detail.skills.each do |skill| %>
                	  <%= skill.name %>,
                	<% end %>	
                	</td>
                	<td>
                	  <% applicant_detail.qualifications.each do |qualification| %>
                	    <%= qualification.name %>,
                	  <% end %>	
                	</td>
                	<td>
                  <% if applicant_detail.score.present? %>
                    <% if applicant_detail.score.total_score < 50.00 %>  
                    <span class="date badge badge-important">
                    <% elsif applicant_detail.score.total_score == 50.00 %>
                    <span class="date badge badge-warning">
                    <% elsif applicant_detail.score.total_score > 50.00 && applicant_detail.score.total_score < 90.00 %>
                    <span class="date badge badge-info">
                    <% elsif applicant_detail.score.total_score == 90.00 || applicant_detail.score.total_score > 90.00 %>
                     <span class="date badge badge-success">     
                    <% end %>
                  <% end %>
                    
                  <% if applicant_detail.score.present? %>
                		<%= number_with_precision applicant_detail.score.total_score, precision: 2, scale: 2 %>%
                  <% else %>
                    <%= link_to "match job description", recruiter_match_job_description_url(applicant_detail), class: "btn btn-primary" %>  
                  <% end %>
                  </span>  
                	</td>
                  <td><span class="date badge badge-info"><i class="fa fa-calendar" aria-hidden="true"></i>
</span><%= link_to "interview/test", new_recruiter_applicant_detail_event_url(applicant_detail) %></td> 
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>

        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>

     