<div>
	<h3>Select Appropriate Role For Applicant: <%= @applicant_detail.name %></h3>
   <div class="accordion" id="collapse-group">
          <div class="accordion-group widget-box">
            <div class="accordion-heading">
              <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-eye-open"></i></span>
                <h5><%= @applicant_detail.name %>'s application details</h5>
                </a> </div>
            </div>
            <div class="collapse in accordion-body" id="collapseGOne">
              <div class="widget-content">
              <h5> 
              <p>Job Type: <% @applicant_detail.job_types.each do |job_type| %>
                             <%= job_type.name %>, 
                           <% end %>
              </p>
              <p>Applying for:  <%= @applicant_detail.job_title %></p>
              <p>Email: <%= @applicant_detail.email %></p>
              <p>Phonenumber: <%= @applicant_detail.phonenumber %></p>
              <p>Location: <%= @applicant_detail.location %></p>
              <p>Experience: <%= @applicant_detail.experience %> years</p>
              <p>Skills: <% @applicant_detail.skills.each do |skill| %>
                           <%= skill.name %>, 
                         <% end %>
              </p>
              <p>Education Qualifications: <% @applicant_detail.qualifications.each do |qualification| %>
                                             <%= qualification.name %>,
                                           <% end %>
              </p>
              <p>Resume: 
              <% if @applicant_detail.attachment.blank? %> 
                no attachment 
              <% else %>
              <%= link_to File.basename(@applicant_detail.attachment.url), @applicant_detail.attachment.url %>(<%= number_to_human_size @applicant_detail.attachment.size %>)
              <% end %>
              </p>
              </h5>

              </div>
            </div>
          </div>
</div>
<hr>
<div class="row-fluid">

	<div class="span12">
  
<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><%= pluralize(@requirements.count, "Available Role") %></h5>
            <%#= link_to fa_icon("plus") + " Create Job Description", new_company_requirement_url, class: "btn btn-primary btn-mini pull-right" %>                 

          </div>
          <div class="widget-content nopadding">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Company Name</th>
                	<th>Job Type</th>
                	<th>Job Title</th>
                	<th>Location</th>
                	<th>Require Experience(yrs)</th>
                	<th>Salary Range(GHS)</th>
                	<th>Required Skill Set</th>
                	<th>Educational Qualifications</th>
                	<th>Number of Vacancies</th>
                </tr>
              </thead>
              <tbody>
              <% @requirements.each do |requirement| %>
                <tr class="odd gradeX" style="font-size: 14px;">
                    <td>
                    <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-primary btn-mini dropdown-toggle"><%= requirement.company.name %><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li>
                        <% if requirement.vacancies_left == 0 %> 
                        no vacancies available for this job
                        <% else %> 
                        <%= link_to "get applicant's assessment for this role", new_recruiter_applicant_detail_score_url(@applicant_detail, requirement_id: requirement.id) %>
                        <% end %>  
                        </li>
                      </ul>
                    </div>

                    </td>
                    <td><% requirement.job_types.each do |job_type| %>
                          <%= link_to job_type.name, [:recruiter, requirement] %>,
                        <% end %>
                    </td>
                	<td><%= requirement.title %></td>
                	<td><%= requirement.location %></td>
                	<td><%= requirement.experience %></td>
                	<td class="center"><%= requirement.min_salary %> - <%= requirement.max_salary %></td>
                	<td class="center">
                	<% requirement.skills.each do |skill| %>
                	  <%= skill.name %>,
                	<% end %>	
                	</td>
                	<td>
                	  <% requirement.qualifications.each do |qualification| %>
                	    <%= qualification.name %>,
                	  <% end %>	
                	</td>
                	<td>
                      <%= requirement.vacancies_left %>
                	</td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>

    