<div>
    <h1><span class="date badge badge-success" style="font-size: 28px; padding: 20px;"> <%= @applicant_detail.name %>'s </span> Job Application
    <% if @applicant_detail.score.total_score < 50.00 %>  
    <span class="date badge badge-important pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score == 50.00 %>
      <span class="date badge badge-warning pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score > 50.00 && @applicant_detail.score.total_score < 90.00 %>
      <span class="date badge badge-info pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score == 90.00 || @applicant_detail.score.total_score > 90.00 %>
      <span class="date badge badge-success pull-right" style="font-size: 28px; padding: 20px;">
    <% elsif @applicant_detail.score.total_score == nil %>
    <span class="date badge badge-danger pull-right" style="font-size: 28px; padding: 20px;">
            
    <% end %>

    Score:
     <% if @applicant_detail.score.nil? %>   
     ? 
     <% else %>
     <%= number_with_precision @applicant_detail.score.total_score, precision: 2, scale: 2 %>%
     <% end %>
     </span>  
    </h1>
</div>
<hr>
<div class="widget-box">
          <div class="widget-title bg_lo"> <span class="icon"> <i class="icon-briefcase"></i> </span>
            <h5>Job Type: <% @applicant_detail.job_types.each do |job_type| %>
            	             <%= job_type.name %>, 
            	           <% end %> <span class="pull-right"> (NOTE: <%= @applicant_detail.name %>'s details have been sent to <%= @applicant_detail.requirement.company.name   if @applicant_detail.sent? %>)</span> </h5>
                           <span class="pull-right">
                         <% if @applicant_detail.score.nil? %>  
            	           <%= link_to "match job description", recruiter_match_job_description_url(@applicant_detail), class: "btn btn-primary" %>
                         <% else %>
                         <%= link_to fa_icon("repeat") + " re-assess candidate", edit_recruiter_applicant_detail_score_url(@applicant_detail, @applicant_detail.score, requirement_id: @applicant_detail.requirement), class: "btn btn-primary"  if @applicant_detail.sent == false %>
                         <%= link_to "send applicant's details to #{@applicant_detail.requirement.company.name}", recruiter_send_company_applicant_details_url(@applicant_detail), method: :patch, data: { confirm: "Do you want to send #{@applicant_detail.name}'s application details to #{@applicant_detail.requirement.company.name}?"}, class: "btn btn-primary" if @applicant_detail.sent == false %>
                          <% end %> 
                         </span>
            </span>
          </div>
          <div class="widget-content nopadding updates collapse in" id="collapseG3">
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><a title="" href="#"><strong><%= @applicant_detail.name %> applied for </strong></a> <span><%= @applicant_detail.job_title %> </span> </div>
            </div>
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><a title="" href="#"><strong>Email</strong></a> <span><%= @applicant_detail.email %></span> </div>
            </div>
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><a title="" href="#"><strong>Phonenumber</strong></a> <span><%= @applicant_detail.phonenumber %></span> </div>
            </div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-notice"> <a title="" href="#"><strong>Location/Address </strong></a> <span><%= @applicant_detail.location %></span> </span> </div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-alert"> <a title="" href="#"><strong>Work Experience</strong></a> <span><%= @applicant_detail.experience %> Years</span> </span>  </div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-done"> <a title="" href="#"><strong>Salary Range</strong></a><span>GHS <%= @applicant_detail.min_salary %> - GHS <%= @applicant_detail.max_salary %></span> </span> </div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-notice"> <a title="" href="#"><strong>Required Skills</strong></a> <span>
            	<% @applicant_detail.skills.each do |skill| %>
            	  <%= skill.name %>, 
            	<% end %>
            </span> </span></div>
            <div class="new-update clearfix"> <i class="icon-ok-sign"></i> <span class="update-notice"> <a title="" href="#"><strong>Education Qualifications</strong></a> <span>
            	<% @applicant_detail.qualifications.each do |qualification| %>
            	  <%= qualification.name %>, 
            	<% end %>
            </span> </span></div>
          </div>
        </div>

 
       

        <%= javascript_include_tag "recruiter/jquery.min" %>
        <%= javascript_include_tag "recruiter/jquery.ui.custom" %>
        <%= javascript_include_tag "recruiter/bootstrap.min" %>
        <%= javascript_include_tag "recruiter/matrix" %>