<div class="container-fluid">
	<hr>
	<div class="widget-box">
		<div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
			<h5><%= pluralize(@events.count, "Scheduled Event") %></h5>
		</div>

		<div class="widget-content nopadding">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Applicant Name</th>
						<th>Event Type/Name</th>
						<th>Interview Date</th>
						<th>Test Date</th>
						<th>Confirm Status</th>
					</tr>
				</thead>
				<tbody>
					<% @events.each do |event| %>
					<tr class="odd gradeX">
						<td><%= event.applicant_detail.name %></td>
						<td><%= event.name %></td>
						<td><%= event.interview_date.strftime("%B %d, %Y")%></td>
						<td><%= event.test_date.strftime("%B %d, %Y") %></td>
						<td class="center"><%= event.confirm %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

</div>


<%= javascript_include_tag "recruiter/jquery.min" %>
<%= javascript_include_tag "recruiter/jquery.ui.custom" %>
<%= javascript_include_tag "recruiter/bootstrap.min" %>
<%#= javascript_include_tag "recruiter/fullcalendar.min" %>
<%= javascript_include_tag "recruiter/matrix" %>
<%= javascript_include_tag "recruiter/matrix.calendar" %>   


