<h3>View <span class="badge badge-info" style="font-size: 28px; padding: 20px;"><%= @applicant_detail.name %></span>'s Schedule</h3>
<div class="accordion" id="collapse-group">
	<div class="accordion-group widget-box">
		<div class="accordion-heading">
			<div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-eye-open"></i></span>
				<h5><%= @applicant_detail.name %>'s schedule</h5>
				<% if @applicant_detail.event.sent? %>	
				<% else %>
				<%= link_to fa_icon("pencil") + " Edit", [:edit, :recruiter, @applicant_detail, @applicant_detail.event] , class: "btn btn-primary pull-right" %> <%= link_to fa_icon("paper-plane-o") + " send", recruiter_send_schedule_url(@event), method: :patch, class: "btn btn-primary pull-right" %>     
				<% end %>
			</a> </div>
		</div>
		<div class="collapse in accordion-body" id="collapseGOne">
			<div class="widget-content"> 
				<p>Event Name: <%= @applicant_detail.event.name %>
				</p>
				<p>Event Description:  <%= @applicant_detail.event.brief_description %></p>
				<p>Email: <%= @applicant_detail.email %></p>
				<p>Interview Date:
				<% if @applicant_detail.event.interview_date.nil? %>
				<span class="badge badge-primary">Not Set</span>
				<% else %>	
				 <span class="badge badge-info"><%= @applicant_detail.event.interview_date.strftime("%B %d, %Y") %></span>
				<% end %>	
				</p>
				<p>Test Date: 
				<% if @applicant_detail.event.test_date.nil? %>
				<span class="badge badge-primary">Not Set</span>
				<% else %>	
				<span class="badge badge-info"><%= @applicant_detail.event.test_date.strftime("%B %d, %Y") %></span>
				<% end %>
				</p>
				<p>Confirm Status: 
				    <% if @applicant_detail.event.confirm? %>
				    <span class="badge badge-success">Confirmed</span> 
					<% else %>
					<span class="badge badge-important">Not Confirmed</span> 
					<% end %> 
				</p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="widget-box">
<div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
		<h5><%= pluralize(@events.count, "Scheduled Event") %></h5>
	</div>

	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Applicant Name</th>
					<th>Event Type/Name</th>
					<th>Interview Date</th>
					<th>Test Date</th>
					<th>Confirm Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
				<tr class="odd gradeX">
					<td><%= event.applicant_detail.name %></td>
					<td><%= event.name %></td>
					<td>
					<% if event.interview_date.nil? %>
					<span class="badge badge-primary">Not Set</span>
					<% else %>	
					<span class="badge badge-info"><%= event.interview_date.strftime("%B %d, %Y")%></span>
					<% end %>
					</td>
					<td>
				    <% if event.test_date.nil? %>
				    <span class="badge badge-primary">Not Set</span>
				    <% else %>		
					<span class="badge badge-info"><%= event.test_date.strftime("%B %d, %Y") %></span>
					<% end %>
					</td>
					<td class="center">
					<% if event.confirm? %>
				    <span class="badge badge-success">Confirmed</span> 
					<% else %>
					<span class="badge badge-important">Not Confirmed</span> 
					<% end %> </td>
					<td><%= link_to fa_icon("eye") + " schedule", [:recruiter, event.applicant_detail, event] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= javascript_include_tag "recruiter/jquery.min" %>
<%= javascript_include_tag "recruiter/jquery.ui.custom" %>
<%= javascript_include_tag "recruiter/bootstrap.min" %>
<%= javascript_include_tag "recruiter/matrix" %>